doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0 ')
            meta(http-equiv='Content-Security-Policy', content="default-src 'self'; script-src 'self' https://cdnjs.cloudflare.com https://unpkg.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://unpkg.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' data: https://tile.openstreetmap.org;")
            link(rel='stylesheet', href='/css/style.css')
            link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
            link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            title Natours | #{title}

    body
        //HEADER
        include _header

        //Content
        block content
            h1 This is a placeholder

        //FOOTER
        include _footer
        script(src='/js/bundle.js')